 <!--SECTION EXPERIENCES-->

	<section id="section3" class="cd-section">
		<div class="container">
          <div class="row">
            <div class="col-md-12">
               <div class="box-content">
		        <h1>Abilities</h1>
                <div class="col-md-6">
				    <div class="skills-area triggerAnimation animated" data-animate="fadeInLeft">
					
                        <div class="box-text">
                        <h2>LANGUAGES</h2>
					    <div class="skills-box">
							    <div class="skills-progress">
                                    <span ng-repeat="language in languages">
                                        <p>{{ language.name }}<span>{{ language.level }}%</span></p>
								    <div class="meter nostrips develope">
                                        <p style="width: {{ language.level }}%"></p>
								    </div>
                                    </span>
							    </div>
						    </div>
                        </div>
				    </div>
                </div>
                <div class="col-md-6">
				    <div class="skills-area triggerAnimation animated" data-animate="fadeInLeft">
					
                        <div class="box-text">
                        <h2>FRAMEWORKS</h2>
					    <div class="skills-box">
							    <div class="skills-progress">
                                    <span ng-repeat="framework in frameworks">
                                        <p>{{ framework.name }}<span>{{ framework.level }}%</span></p>
								    <div class="meter nostrips develope">
                                        <p style="width: {{ framework.level }}%"></p>
								    </div>
                                    </span>
							    </div>
						    </div>
                        </div>
				    </div>
			    </div>
              </div>
            </div>
		  </div>
          <div class="row">
               <div class="col-md-12">
                <div class="box-content experiences">
                   <div class="col-md-12 list-experiences">
                        <h2><i class="fa fa-briefcase"></i>Software Developer<span class="data"></span></h2>
                        <p>I left school with a solid understanding of the Python language, and a few personal projects which I had coded in my free time. This experience allowed me to inch my way into the development community, eventually learning and working with each of the languages listed here. I, like many developers, found each to have a character, and unlike many developers, did not have the freedom to decide which ones I used. Having a multitude of clients meant keeping a multitude of languages in my back pocket. With this said, I developed a very strong proficieny with PHP, Python, and Javascript, and was able to use this not only to solve many problems for existing applications, but also to write applications from the ground up for anyone with an idea.</p>
                   </div>
                   <div class="col-md-12 list-experiences">
                        <h2><i class="fa fa-briefcase"></i>Database Architect<span class="data"></span></h2>
                        <p>I was approached by clients on several occasions to build data driven web applications, handling user profiles, scheduling, payment receipts, and interactive content far beyond the typical blog. Over the years, my experience, comfort level, and intuition of database systems grew tremendously. I developed a strong proficiency with MySQL, and uncovered many optimization techniques which I continue to use in my daily practice.</p>
                   </div>
                   <div class="col-md-12 list-experiences">
                        <h2><i class="fa fa-briefcase"></i>Business Owner<span class="data"></span></h2>
                        <p>I founded my own web application development company in June, 2013, with my business partner, Ryan Douvlos, in order to see how far we could go. In the two years that followed, we jointly handled finding work, writing proposals, meeting with our clients, learning the languages and frameworks for the work, balancing our finances (this was the most difficult!), developing internal tools, managing projects across a team, and meeting deadlines.</p>
                   </div>
                 </div>
              </div>
         </div>
      </div>
	</section><!-- cd-section -->
