 <!--SECTION EXPERIENCES-->

	<section id="section3" class="cd-section">
		<div class="container">
          <div class="row">
            <div class="col-md-12">
               <div class="box-content">
		        <h1>Abilities</h1>
                <div class="col-md-6">
				    <div class="skills-area triggerAnimation animated" data-animate="fadeInLeft">
					
                        <div class="box-text">
                        <h2>LANGUAGES</h2>
					    <div class="skills-box">
							    <div class="skills-progress">
                                    <span ng-repeat="language in languages">
                                        <p>{{ language.name }}<span>{{ language.level }}%</span></p>
								    <div class="meter nostrips develope">
                                        <p style="width: {{ language.level }}%"></p>
								    </div>
                                    </span>
							    </div>
						    </div>
                        </div>
				    </div>
                </div>
                <div class="col-md-6">
				    <div class="skills-area triggerAnimation animated" data-animate="fadeInLeft">
					
                        <div class="box-text">
                        <h2>FRAMEWORKS</h2>
					    <div class="skills-box">
							    <div class="skills-progress">
                                    <span ng-repeat="framework in frameworks">
                                        <p>{{ framework.name }}<span>{{ framework.level }}%</span></p>
								    <div class="meter nostrips develope">
                                        <p style="width: {{ framework.level }}%"></p>
								    </div>
                                    </span>
							    </div>
						    </div>
                        </div>
				    </div>
			    </div>
              </div>
            </div>
		  </div>
          <div class="row">
               <div class="col-md-12">
                <div class="box-content experiences">
                   <div class="col-md-12 list-experiences">
                        <h2><i class="fa fa-briefcase"></i>Software Developer<span class="data"></span></h2>
                        <p>Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. 
                                Prae sent non sem eu mi malesuada viverra volutpat ut libero. Nullam a venenatis tellus. 
                                Nam fen convallis tristique. In imperdiet est sed aliquet imperdiet. </p>
                   </div>
                   <div class="col-md-12 list-experiences">
                        <h2><i class="fa fa-briefcase"></i>Database Architect<span class="data"></span></h2>
                        <p>Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. 
                                Prae sent non sem eu mi malesuada viverra volutpat ut libero. Nullam a venenatis tellus. 
                                Nam fen convallis tristique. In imperdiet est sed aliquet imperdiet. </p>
                   </div>
                   <div class="col-md-12 list-experiences">
                        <h2><i class="fa fa-briefcase"></i>Business Owner<span class="data"></span></h2>
                        <p>Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. 
                                Prae sent non sem eu mi malesuada viverra volutpat ut libero. Nullam a venenatis tellus. 
                                Nam fen convallis tristique. In imperdiet est sed aliquet imperdiet. </p>
                   </div>
                 </div>
              </div>
         </div>
      </div>
	</section><!-- cd-section -->
