<!--SECTION BLOG-->

 
 <section id="project" class="cd-section section-blog">
 <div class="container">
          <div class="row">
            <h1 class="t-blog"> BLOG </h1>
           <div class="col-md-8">
             <div class="box-content">
                <div class="blog-item first-child">
                    <div class="blog-desc box-text">
                        <h2>Identifying with code <span class="date-blog">September 14, 2014 / Programming</span></h2>
<p>I find myself rewriting my code a lot, but this is better than it used to be. It used to be that I couldn't really read old code, or if I could, it was like trying to solve a Rubik's cube. I had this horrible tendency to name functions with made-up-on-the-fly three letter acronyms. You want a function to print table data? Okay, we can call that function PTD. A function to render small images? That's RSI. I have libraries of these functions. I used to pride myself in fitting my functions on one line, even if it meant using obscene conditional logic, or writing helper functions (also with great names) to condense code further.</p>

<p>This behavior was foolish. The notions of compactness and simplicity in my mind during these early projects were short sighted - I could easily keep tens of functions hashed into an easy to reference library, and I could produce the output I wanted simply by writing</p>

<p>ABC(DEF(GHI($someargument)));</p>
</p>yet these benefits only lasted while the project was central in my mind. I'd move onto something else, and that wonderful hash of functions would be wiped from my working memory. When I went back, I would be sick to my stomach trying to connect the dots.</p>

</p>Last year, I was contracted to do a customization to a very substantial plugin, Connections Business Directory, before I had ever been exposed to the source, and I was able to complete the job in one afternoon. I found myself able to navigate the project simply using my intuition. If I wanted a function to get a name, it would be called getName. Functions to produce forms were simply named form. We've seen this before - WordPress uses an intuitive nomenclature for its framework, and the notion of "getters" and "setters" is ingrained into object oriented programming. In fact, this plugin was my first exposure to OOP.</p>

</p>Since finding Connections, I have switched to a primarily object oriented programming style, due to the nature of classification, which is inherently organized. This transition from functional thinking to objective thinking has helped solidify my position as a web developer. Once I was able to see objects living within my PHP, my understanding of what I was doing became the clearest it had ever been.</p>

</p>I took a course on programming language, given by Dan Grossman. He crafted the comparison of functional programming and object oriented programming into the heart of the course, and it was the first time that it became apparent to me that Javascript is completely object oriented. It wasn't long after that before I began to connect the dots. HTML's DOM tree is a tree of objects. CSS is a mechanism to classify these objects to take on any form we want them to.</p>

</p>I started to understand the freedom given to me as a web developer. I could literally name and classify objects for the sake of safely documenting my code - now imbued with a sense of character - for future use and improvement. I began instructing PHP to let CSS know to tag the objects with the class names I used in my source code. I wrote jQuery scripts using the exact same object names. I ran AJAX calls using actions generated by classes and attributes. I remember at one point I had this beautiful revelation that databases store objects perfectly, and then I discovered the library functions for getting objects back from queries.</p>

</p>Since this period in my life, I have been able to write simple libraries that work out of the box. I can create a new template, import a library for some particular functionality, and find my code up and running in minutes. I lose track of things less often, and I am able to decipher the meaning of the components of my work at a glance. Usually, I can build upon it without much difficulty, and even translate the updates into older pieces of code.</p>

</p>It's very much like keeping a garden. I take care with everything I cultivate. I'm not afraid to trim back when its time, and I tend to that which needs the most attention. I could never do this without a method of identity. If all of my plants looked the same, I would have an impossible time relating to them and caring for them, and I would never be able to use each one for its unique benefit to the garden.</p>
                    </div>
                 </div>
                 
             </div><!--close box content-->
		  </div>
          <div class="col-md-4">
          <div class="box-content right-position">
               <div class="blog-right-column">
                 <h2>Categories</h2>
                 <ul>
                    <li><a href="#"><i class="fa fa-angle-double-right"></i> Audio</a></li>
                    <li><a href="#"><i class="fa fa-angle-double-right"></i> Video</a></li>
                    <li><a href="#"><i class="fa fa-angle-double-right"></i> Design</a></li>
                    <li><a href="#"><i class="fa fa-angle-double-right"></i> Photo</a></li>
                    <li><a href="#"><i class="fa fa-angle-double-right"></i> Branding</a></li>
                 </ul>
               </div>
            </div>
            <div class="box-content blog-r-posts">
               <div class="blog-right-column">
                 <h2>Recent Posts</h2>
                 <ul>
                    <li><a href="#"><i class="fa fa-angle-double-right"></i> Ut egestas angularjs nec mauris</a></li>
                    <li><a href="#"><i class="fa fa-angle-double-right"></i> Nullam pellentesque dui a neque</a></li>
                    <li><a href="#"><i class="fa fa-angle-double-right"></i> miniMe varius tortor eu lacus</a></li>
                    <li><a href="#"><i class="fa fa-angle-double-right"></i> More angularjs more dinamyc html</a></li>
                    <li><a href="#"><i class="fa fa-angle-double-right"></i> Branding html5 for better website</a></li>
                 </ul>
               </div>
            </div>
          </div>
        </div><!--close row-->
      </div><!--close container-->
 </section>
 <hr />
 <section id="relatedprojects" class="cd-section">
  <div class="container hide">
          <div class="row">
           <div class="col-md-12">
             <div class="box-content box-carousel">
             <h1> RELATED PROJECTS </h1>
             
               <div id="owl-demo-details" class="owl-carousel owl-theme owl-details">
                  <div class="item">
                     <img src="http://placehold.it/1100x1057" alt="" />
                     <p class="details-title">Martin J.</p>
                     <p class="details-desc">Details page</p>
                  </div>
                  <div class="item">
                     <img src="http://placehold.it/1100x1057" alt="" />
                     <p class="details-title">App Design</p>
                     <p class="details-desc">Details page</p>
                  </div>
                  <div class="item">
                     <img src="http://placehold.it/1100x1057" alt="" />
                     <p class="details-title">Phone App</p>
                     <p class="details-desc">Details page</p>
                  </div>
                  <div class="item">
                     <img src="http://placehold.it/1100x1057" alt="" />
                     <p class="details-title">Gravity</p>
                     <p class="details-desc">Details page</p>
                  </div>
                </div>
               </div>
		    </div><!--close 12-->
        </div><!--close row-->
      </div><!--close container-->
 </section>

<script type="text/javascript">
    /********************************************
    CLOSE PAGE DETAIL
    ********************************************/
    $(document).ready(function () {
        $(".close-redirect").click(function (event) {
            event.preventDefault();
            linkLocation = this.href;
            $("body").fadeOut(1000, redirectPage);
        });
        function redirectPage() {
            window.location = linkLocation;
        }
    });
   </script>
<script type="text/javascript">
    /********************************************
    CAROUSEL DETAIL
    ********************************************/
    $("#owl-demo-details").owlCarousel({

        autoPlay: 3000, //Set AutoPlay to 3 seconds

        items: 4,
        itemsDesktop: [1199, 3],
        itemsDesktopSmall: [979, 3]

    });
</script>
