	<section id="section1" class="cd-section">
      <div class="container">
          <div class="row">
           <div class="col-md-12">
             <div class="box-content">
		        <h1> WHO I AM </h1>
                <div class="col-md-4">
                    <div class="box-text">
                        <h2>Joshua Kornreich</h2>
                        <p>I'm a problem solver, lover of aninals, software engineer, pianist, traveler, mathematician, and a human being. I have developed a love for software engineering, and am obsessed with whatever I am working on.</p>                            <p>I take frequent walks with my german shepherd, who I love more than anything. Together outside, we come up with solutions to all of my challenges!</p>
                    </div>
                 </div>
                 <div class="col-md-4">
                    <div class="box-img">
                        <img src="images/tahoe.jpg" alt="" />
                    </div>
                 </div>
                 <div class="col-md-4">
                    <div class="box-text">
                        <h2>Personal data</h2>
                        <p>Date of birth: 09/03/1989</p>
                        <p>Phone: (954) 882-3115</p>
                        <p>E-mail: joshua@tier27.com</p>
                        <h2>Education</h2>
                        <p>Carnegie Mellon University</p>
                        <p>Bachelors of Mathematics</p>
                    </div>
                 </div>
             </div><!--close box content-->
		  </div>
        </div><!--close row-->
      </div><!--close container-->
      <div class="parallax1">
        <div class="overlay">
            <div class="container">
              <div class="row">

               <div class="col-md-12">
                <div class="col-md-4">
                    <div class="box-img">
                        <img src="images/meanddaisy.jpg" alt="" />
                    </div>
                 </div>
                 <div class="col-md-4">
                    <div class="box-text">
                        <h2>WHAT I DO</h2>
                        <p>I like to help people build their dreams. I've helped many of my clients develop their ideas from the very start. I have conceived of entire database structures and adjusted them to fit the evolution of my projects. I've written APIs from the ground up, and carried my work through to the front end. I've worked closely with designers, and have proven myself capable of mimicking their work to produce seamless user interfaces.</p>
                    </div>
                 </div>
                 <div class="col-md-4">
                    <div class="box-img">
                        <img src="images/piano.jpg" alt="" />
                    </div>
                 </div>
		      </div>
          </div>
        </div>
       </div>
      </div>
	</section><!-- cd-section -->
