	<section id="section1" class="cd-section">
      <div class="container">
          <div class="row">
           <div class="col-md-12">
             <div class="box-content">
		        <h1> WHO I AM </h1>
                <div class="col-md-4">
                    <div class="box-text">
                        <h2>HISTORY</h2>
                        <p>miniMe restore client-focused potentialities rather than functional strategic theme areas. 
                            Proin fringilla augue at maximus vestibulum. Nam pulvinar vitae neque et porttitor. Praesent sed nisi eleifend, lorem fermentum orci sit amet, iaculis libero.</p>
                            <p>miniMe restore client-focused potentialities rather than functional strategic theme areas. </p>
                    </div>
                 </div>
                 <div class="col-md-4">
                    <div class="box-img">
                        <img src="images/office.jpg" alt="" />
                    </div>
                 </div>
                 <div class="col-md-4">
                    <div class="box-text">
                        <h2>Personal data</h2>
                        <p>Date of birth: 09/03/1989</p>
                        <p>Phone: (954) 882-3115</p>
                        <p>E-mail: joshua@tier27.com</p>
                        <h2>Education</h2>
                        <p>Carnegie Mellon University</p>
                        <p>Bachelors of Mathematics</p>
                    </div>
                 </div>
             </div><!--close box content-->
		  </div>
        </div><!--close row-->
      </div><!--close container-->
      <div class="parallax1">
        <div class="overlay">
            <div class="container">
              <div class="row">

               <div class="col-md-12">
                <div class="col-md-4">
                    <div class="box-img">
                        <img src="images/object.jpg" alt="" />
                    </div>
                 </div>
                 <div class="col-md-4">
                    <div class="box-text">
                        <h2>WHAT I DO</h2>
                        <p>miniMe restore client-focused potentialities rather than functional strategic theme areas. 
                            Proin fringilla augue at maximus vestibulum. Nam pulvinar vitae neque et porttitor. Praesent sed nisi eleifend, lorem fermentum orci sit amet, iaculis libero.</p>
                            <p>miniMe restore client-focused potentialities rather than functional strategic theme areas. </p>
                    </div>
                 </div>
                 <div class="col-md-4">
                    <div class="box-img">
                        <img src="images/object1.jpg" alt="" />
                    </div>
                 </div>
		      </div>
          </div>
        </div>
       </div>
      </div>
	</section><!-- cd-section -->
